*{
    padding: 0;
    margin: 0;
    color: white;
}
body::after{
    content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}