:root {
  --bg-color: #ffffff;
  --text-color: #121212;
  --button-bg: #919191;
  --filter: invert(100%);
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --button-bg: rgba(255, 255, 255, 0.1);
  --filter: invert(0%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card, .header, .settings, #theme-toggle {
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(15px); 
    border: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3); 
}
.settings {
  background: var(--text-color);
  color: var(--bg-color);
  border: none;
  cursor: pointer;
  border-radius: 40px;
  transition: 0.3s ease;
  text-align: center;
  margin-left: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2px 4px 0px;
  backdrop-filter: blur(5px);
}

.settings img {
  filter: var(--filter);
}

#theme-toggle {
  background: var(--text-color);
  color: var(--bg-color);
  border: none;
  cursor: pointer;
  border-radius: 40px;
  transition: 0.3s ease;
  font-size: 18px;
  width: 120px;
  text-align: center;
  margin-right: 5px;
  padding-bottom: 2px;
}

body {
  color: var(--text-color);
  transition: background-color 0.3s ease;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  transition: background-image 0.5s ease-in-out;
}
body::after{
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.785);
  z-index: -1;
}

.header {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(5px);
}

.top {
  border: 2px solid var(--text-color);
  display: flex;
  border-radius: 40px;
  justify-content: space-between;
}

input {
  height: 40px;
  width: 500px;
  font-size: larger;
  padding-left: 10px;
  border: 0px solid white;
  border-radius: 40px;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
}

::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

form button {
  height: 40px;
  width: 100px;
  text-align: center;
  font-size: larger;
  border: 0px solid white;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  color: var(--text-color);
  background-color: rgba(128, 128, 128, 0.53);
  background-color: var(--button-bg);
  color: var(--text-color);
  transition: background-color 0.3s ease;
}

main {
  display: flex;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 25px;
  max-width: 90%;
  /* margin: 0 auto; */
}

.card {
  background: var(--button-bg);
  color: var(--text-color);
  padding: 10px;
  max-width: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.card img {
  width: 26px;
  height: 26px;
}

.card:hover {
  transform: translateY(-5px);
}

#add-card-btn {
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px dashed var(--text-color);
}

#clock {
  font-size: 3rem;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  margin-top: 30px;
  font-weight: 200;
}